.grid_lines {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  padding: 0 calc(2.01875rem + 7.90714vw);
  margin: 0px;
  list-style-type: none;
}

@media (min-width: 1400px) {
  .grid_lines {
    padding: 0 8.9375rem !important;
  }
}

.grid_line {
  position: relative;
  width: 1px;
  height: 100vh!important;
  display: inline-block;
  background-color: #2e2e2e;
  mix-blend-mode: difference;
}

.grid_lines .grid_line::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  /* height: 60px !important; */
  background: white;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
  animation: gridanim 25s linear infinite;
}

.grid_lines .grid_line:nth-child(2)::before {
  animation-delay: 1s;
}

.grid_lines .grid_line:nth-child(4)::before {
  animation-delay: 1s;
}

.grid_lines .grid_line:nth-child(6)::before {
  animation-delay: 1s;
}

@keyframes gridanim {
  0% {
    top: 0%;
  }

  100% {
    top: 100%;
  }
}

.grid_lines .grid_line {
  background-color: rgba(153, 153, 153, 0.1);
}


.hello{
    z-index: 1;
    position: relative;
    margin-top: 50px;
  }
.slidermain{
  margin-top: 3rem;
  position: relative;
}
.borderrr {
  width: 100%;
  height: 50%;
}

/* For small devices (phones, up to 600px) */
@media only screen and (max-width: 600px) {
  .borderrr {
    width: 100%;
    height: 60%; /* Adjust height for small screens */
  }
}

/* For medium devices (tablets, 600px to 768px) */
@media only screen and (min-width: 601px) and (max-width: 768px) {
  .borderrr {
    width: 100%;
    height: 55%; /* Adjust height for medium screens */
  }
}

/* For large devices (desktops, 768px to 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .borderrr {
    width: 100%; /* Adjust width for larger screens */
    height: 50%;
  }
}

/* For extra large devices (large desktops, above 1024px) */
@media only screen and (min-width: 1025px) {
  .borderrr {
    width: 100%; /* Further adjust width for bigger screens */
    height: 50%;
  }
}
.items{
 /* border:40px solid; */
 /* border-radius: 30px; */
 /* padding: 2rem; */
 overflow: hidden;
 height: 100%;
 width: 100%;
 /* width: 80%; */

 /* transition: 1s all ease-in-out; */
}
.items img {
  overflow: hidden;
  /* height: 50%; */
  height: 100%;
  width: 100%;
  /* border-radius: 30px; */
  /* width: 80%; */
}
.slidecard{
  background-color:#999999;
  color: #ffffff;
  font-weight: 500;
  font-size:3rm;
  font-family: "Montserrat", sans-serif;
  overflow: visible;
  height: 400px;
  transform: translateX(600px);
}
