.card_body{
    background-color: #1b1b1b;
    border: none;
    margin: 1.2rem;
    transition: all 2s;
} 
.card_body img{
    height: 100%;
    width: 100%;
}
.card_body:hover{
    background-image: url(../../assets/images/4.jpg);
    /* background-color: #4d3c1c; */
}
.card_title{
    font-size: 4rem;
    font-weight: 700;
    color: #4d3c1c;
}
.Cardlink{
    text-decoration: none;
    color: aliceblue;

}
.text_muted{
    font-size: 3rem important!;
}