#partlces canvas{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index:-1;
    
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.hello{
  background-color: rgb(0, 128, 0);
  height: 400px;
}
  
h4{
  text-transform: uppercase;
  line-height: 2rem;
  transition: all 0.5s ease-in-out;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  margin-top: 1rem;
}
h4:hover{
  color:#a6a182;
}
h6:hover{
  color:#a6a182;
  transition: 0.5s ease-in;
}
h1, .h1 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 2.5rem;
  }
}

h2, .h2 {
  font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  h2, .h2 {
    font-size: 2rem;
  }
}

h3, .h3 {
  font-size: 3rem;
  line-height: 3.6875rem;
  margin-bottom: 25px;
  text-transform: uppercase;
  font-weight:700;
  font-family: "Montserrat", sans-serif;
}

@media (min-width: 1200px) {
  h3, .h3 {
    font-size: 3rem;

  }
}

h4, .h4 {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  h4, .h4 {
    font-size: 1.5rem;
  }
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
  margin-bottom: 1rem;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  color: #999999;
}

img{
  max-width: 100%;
}